$main-color: #ffdc00;
$main-color-shade: #e6c600;
$cololr-light-grey: #eee;
$font-main: sans-serif;
$font-serif: "Satisfy", cursive;
$font-color-light: #fff;
$font-color-grey: #999;
/*global*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: sans-serif;
  position: relative;
}
.box {
  width: 1140px;
  margin: 48px auto;
}
.btn {
  text-decoration: none;
  color: $font-color-light;
  background-color: $main-color;
  padding: 18px 48px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: $main-color-shade;
}
.section-title-box {
  text-align: center;
}
.section-title {
  font-size: 32px;
}
.section-subtitle {
  color: $font-color-grey;
}
a {
  text-decoration: none;
}
/*navigation*/
.main-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 24px;
}
.nav-item {
  position: relative;
}
.nav-item {
  a:link,
  a:active {
    text-decoration: none;
    color: $font-color-light;
    font-size: 14px;
  }
}
.nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $main-color;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.nav-item:hover::after {
  transform: scaleX(1);
}
.logo {
  font-size: 24px;
  font-family: $font-serif;
  color: $main-color;
}
/*hero*/
.hero {
  position: relative;
  text-align: center;
  color: $font-color-light;
}
.hero-image {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/hero-img.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.hero-subtitle {
  font-size: 48px;
  font-family: $font-serif;
  margin-bottom: 24px;
}
.hero-text {
  h1 {
    font-size: 72px;
    margin-bottom: 48px;
  }
}
/*services*/
.services-list {
  padding: 0;
  gap: 48px;
  text-align: center;
  margin-top: 96px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.services-item {
  i {
    margin: 0 auto;
    width: 96px;
    height: 96px;
    font-size: 32px;
    color: $main-color;
    border: 5px solid $main-color;
    border-radius: 50%;
    padding: 12px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.services-item {
  p {
    margin-top: 16px;
    color: $font-color-grey;
  }
}
/*portfolio*/
.portfolio {
  padding: 96px 0;
  background-color: $cololr-light-grey;
}
.portfolio {
  .section-title-box {
    margin-bottom: 48px;
  }
}
.portfolio-projects {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(3, 1fr);
}
.portfolio-project {
  text-align: center;
  background-color: $font-color-light;
  overflow: hidden;
}
.portfolio-project-image {
  width: 100%;
  margin-bottom: 24px;
  transition: transform 0.3s ease-in-out;
}
.portfolio-project-subtitle {
  font-family: $font-serif;
  color: $font-color-grey;
  margin-bottom: 24px;
}
.portfolio-project:hover .portfolio-project-image {
  transform: scale(1.1);
}
/*footer*/
.footer-box {
  width: 58%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright-box {
  color: $font-color-grey;
}
.socials {
  display: flex;
  gap: 16px;
}
.social {
  background-color: #000;
  width: 36px;
  height: 36px;
  color: $font-color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.social:hover {
  transform: scale(1.2);
}
